<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Audio Chat GPT</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="site-container">
    <div class="title__container">
      <h1>Audio Chat GPT</h1>
      <input type="button" class="audio-record__btn" alt="Record Button" value="Click and Hold to Record"></input>
    </div>

    <div class="instructions__container">
      <details open>
      <summary class="instructions__summary"><h2 class="instructions__heading">Instructions</h2></summary>
      <p class="instructions__text">Click and hold the record button to start recording. <strong>Do not release the button until you see your transcript show up on screen. This can take a moment.</strong>.</p>
      <p class="instructions__text">Make sure your volume is on to hear the spoken response.</p>
    </details>
    </div>

    <div class="audio-transcript__container">
      <h2 class="audio-transcript__heading">You said...</h2>
      <div class="audio-transcript">What you said</div>
    </div>
    
    <div class="audio-response__container">
      <h2 class="audio-response__heading">Chat GPT said...</h2>
      <div class="audio-response">What chat GPT said</div>
    </div>
    <div class="audio-response__controls">
      <audio src="" class="audio-response__player"></audio>
    </div>
  </div>
  <script src="scripts/main.js"></script>
</body>
</html>







